{% extends "base.html" %}

{% block title %}
Login
{% endblock %}



{% block content %}


  <div class="col-md-3">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  </div>



<div class="col-md-6">
	<h1>Create Post</h1>
	<form action="", method="post">

		{{ form.hidden_tag() }}
		
		<div class="form-group">
			<p>
				{{ form.body.label() }}<br>

				{{ form.body(size=140,class='form-control') }}<br>

				{% for error in form.body.errors %}
				<div class="alert alert-danger" role="alert">
					[{{error}}]
				</div>
				{% endfor %}

			</p>

		</div>

		
		<p> {{ form.submit(class='btn btn-primary')}} </p>
	</form>
	
</div>
{% endblock %}